streamlit
langchain
langchain-community
faiss-cpu
langchain-google-genai
groq
reportlab
pypdf
python-dotenv
markdown
google-api-python-client
google-auth
langchain-text-splitters
langchain-huggingface
sentence-transformers
